#stopwatch {
  height: 500px;
  width: 500px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 50px;
}

#buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
}

#buttons button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  opacity: 1;
}

#start-button {
  background-color: green;
  color: white;
}

#stop-button {
  background-color: red;
  color: white;
}

#reset-button {
  background-color: blue;
  color: white;
}

#buttons button:disabled {
  background-color: lightgray;
  color: darkgray;
  cursor: not-allowed;
  opacity: 0.6;
}
