body {
  background: linear-gradient(to bottom, #001d66, #155242);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#container {
  width: 100%;
  max-width: 400px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  align-content: space-around;
}
